{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Attended Admissions by Student: <b>{{ student.fullName }}</b></h2>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>School</th>
                            <th>Session Date</th>
                            <th>Attended At</th>
                            <th>Budget Financed No</th>
                            <th>Fee Payer No</th>
                            <th>Budget / Fee Threshold</th>
                            <th>Fee / Rejected No</th>
                            <th>Closest At</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for admissionAttendee in pagination %}
                            {% set admission = admissionAttendee.admission %}
                            <tr>
                                <td>{{ admission.id }}</td>
                                <td>{{ admission.school }}</td>
                                <td>{% if admission.sessionDate %}{{ admission.sessionDate|date('d-m-Y') }}{% else %}-{% endif %}</td>
                                <td>{% if admissionAttendee.createdAt %}{{ admissionAttendee.createdAt|date('d-m-Y') }}{% else %}-{% endif %}</td>
                                <td>{{ admission.budgetFinancedNo }}</td>
                                <td>{{ admission.feePayerNo }}</td>
                                <td>{{ admission.budgetFeeThreshold }}</td>
                                <td>{{ admission.feeRejectedThreshold }}</td>
                                <td>{{ admission.closedAt }}</td>
                                <td>{{ admission.getStatusAsString }}</td>
                                <td>
                                    <a href="{{ path('eb_core_student_view_attended_admission', {'id': admission.id }) }}" class="btn btn-info btn-xs">details</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
