{% trans_default_domain 'FOSUserBundle' %}

<div class="panel panel-default">
    <div class="panel-heading">Account data</div>
    <table class="table table-hover">
        <thead></thead>
        <tbody>
        <tr>
            <th>{{ 'profile.show.username'|trans }}</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>{{ 'profile.show.email'|trans }}</th>
            <td>{{ user.email }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Personal data</div>
    <table class="table table-hover">
        <thead></thead>
        <tbody>
        <tr>
            <th>Firstname</th>
            <td>{{ user.firstname }}</td>
        </tr>
        <tr>
            <th>Lastname</th>
            <td>{{ user.lastname }}</td>
        </tr>
        </tbody>
    </table>
</div>
