{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'EBCoreBundle:Form:fields.html.twig' %}

<h2>Set new password</h2>
{{ form_start(form, {'action': path('fos_user_resetting_reset', {'token': token})}) }}
    <div class="form-group">
        {{ form_widget(form.plainPassword.first, {attr: {placeholder: 'New Password'}}) }}
        {{ form_errors(form.plainPassword.first) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.plainPassword.second, {attr: {placeholder: 'Confirm New Password'}}) }}
        {{ form_errors(form.plainPassword.second) }}
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-default" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
{{ form_end(form) }}
