<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#eb-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('eb_core_home_index') }}">Edu Admission</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="eb-navbar-collapse-1">
            {% if app.user %}
                {% set route = app.request.attributes.get('_route') %}
                <ul class="nav navbar-nav">
                    <li class="{{ 'eb_core_home_index' ==  route ? 'active' }}">
                        <a href="{{ path('eb_core_home_index') }}">
                            <span class="glyphicon glyphicon-home"></span> Home
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="{{ 'eb_admin_student' in route ? 'active' }}">
                            <a href="{{ path('eb_admin_student_index') }}">Students</a>
                        </li>
                        <li class="{{ 'eb_admin_school' in route ? 'active' }}">
                            <a href="{{ path('eb_admin_school_index') }}">Schools</a>
                        </li>
                        <li class="{{ 'eb_admin_ssu' in route ? 'active' }}">
                            <a href="{{ path('eb_admin_ssu_index') }}">School Staff Users</a>
                        </li>
                        <li class="{{ 'eb_admin_admission' in route ? 'active' }}">
                            <a href="{{ path('eb_admin_admission_index') }}">Admissions</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_SSU') %}
                        <li class="{{ 'eb_core_ssu_view_school' == route ? 'active' }}">
                            <a href="{{ path('eb_core_ssu_view_school') }}">Our School</a>
                        </li>
                        <li class="{{ 'eb_core_ssu_admission' in route ? 'active' }}">
                            <a href="{{ path('eb_core_ssu_admission_index') }}">Admissions</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_STUDENT') %}
                        <li class="{{ 'eb_core_student_open_admissions' == route ? 'active' }}">
                            <a href="{{ path('eb_core_student_open_admissions') }}">Open Admissions</a>
                        </li>
                        <li class="{{ 'eb_core_student_attended_admissions' == route ? 'active' }}">
                            <a href="{{ path('eb_core_student_attended_admissions') }}">Attended Admissions</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="{{ route == 'eb_core_notification' ? 'active' }}">
                        <a href="{{ path('eb_core_notification') }}">
                            <span class="glyphicon glyphicon-bell"></span>
                            {% set unread_notification_no = count_unread_notification(app.user) %}
                            {% if unread_notification_no != 0 %}
                                <span class="label label-danger">{{ unread_notification_no }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="dropdown {{ 'fos_user' in route ? 'active' }}">
                        <a href="{{ path('fos_user_profile_show') }}" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> {{ app.user.username }} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                            <li><a href="{{ path('fos_user_profile_edit') }}">Profile edit</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}">Change password</a></li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <span class="glyphicon glyphicon-off"></span>
                                    Log out
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('eb_user_register_student') }}">Register</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
