{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>School List</h2>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Country</th>
                            <th>City</th>
                            <th>Address</th>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for school in schools %}
                            <tr>
                                <td><a href="{{ path('eb_admin_school_show', { 'id': school.id }) }}">{{ school.id }}</a></td>
                                <td>{{ school.name }}</td>
                                <td>{{ school.country }}</td>
                                <td>{{ school.city }}</td>
                                <td>{{ school.address }}</td>
                                <td>{{ school.type }}</td>
                                <td>
                                    <a href="{{ path('eb_admin_school_show', { 'id': school.id }) }}" class="btn btn-info btn-xs">show</a>
                                    <a href="{{ path('eb_admin_school_edit', { 'id': school.id }) }}" class="btn btn-warning btn-xs">edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="panel-footer">
                    <a href="{{ path('eb_admin_school_new') }}" class="btn btn-default">Add School</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
