{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Admin dashboard - stats</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    Total number of admins: <b>{{ totalAdmins }}</b>
                    <a href="{{ path('eb_admin_admin_index') }}" class="btn btn-info btn-xs pull-right">Show</a>
                </li>
                <li class="list-group-item">
                    Total number of students: <b>{{ totalStudents }}</b>
                    <a href="{{ path('eb_admin_student_index') }}" class="btn btn-info btn-xs pull-right">Show</a>
                </li>
                <li class="list-group-item">
                    Total number of school staff users: <b>{{ totalSchoolStaffUsers }}</b>
                    <a href="{{ path('eb_admin_ssu_index') }}" class="btn btn-info btn-xs pull-right">Show</a>
                </li>
                <li class="list-group-item">
                    Total number of schools: <b>{{ totalSchools }}</b>
                    <a href="{{ path('eb_admin_school_index') }}" class="btn btn-info btn-xs pull-right">Show</a>
                </li>
                <li class="list-group-item">
                    Total number of admissions: <b>{{ totalAdmissions }}</b>
                    <a href="{{ path('eb_admin_admission_index') }}" class="btn btn-info btn-xs pull-right">Show</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
