{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form 'EBCoreBundle:Form:fields.html.twig' %}

{{ form_start(form, {'action': path('fos_user_change_password')}) }}
    <div class="form-group">
        {{ form_widget(form.current_password, {attr: {placeholder: 'Current Password'}}) }}
        {{ form_errors(form.current_password) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.plainPassword.first, {attr: {placeholder: 'New Password'}}) }}
        {{ form_errors(form.plainPassword.first) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.plainPassword.second, {attr: {placeholder: 'Confirm New Password'}}) }}
        {{ form_errors(form.plainPassword.second) }}
    </div>
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-default">
    </div>
{{ form_end(form) }}
