{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Student List</h2>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Pin</th>
                            <th>City</th>
                            <th>High School</th>
                            <th>Specialization</th>
                            <th>B.A.G.</th>
                            <th>B.M.G.</th>
                            <th>Enabled</th>
                            <th>Verified</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for studentUser in pagination %}
                            <tr>
                                <td>{{ studentUser.id }}</td>
                                <td><a href="{{ path('eb_admin_student_show', { 'id': studentUser.id }) }}">{{ studentUser.email }}</a></td>
                                <td>{{ studentUser.firstName }}</td>
                                <td>{{ studentUser.lastName }}</td>
                                <td>{{ studentUser.pin }}</td>
                                <td>{{ studentUser.city }}</td>
                                <td>{{ studentUser.highSchool }}</td>
                                <td>{{ studentUser.specialization }}</td>
                                <td>{{ studentUser.baccalaureateAverageGrade }}</td>
                                <td>{{ studentUser.baccalaureateMaximumGrade }}</td>
                                <td>
                                    {% if studentUser.enabled == false %}
                                        <span class="label label-danger not-read">
                                            <span class="glyphicon glyphicon-remove"></span> NO
                                        </span>
                                    {% else %}
                                        <span class="label label-success">
                                            <span class="glyphicon glyphicon-ok"></span> YES
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if studentUser.verified == false %}
                                        <span class="label label-danger not-read">
                                            <span class="glyphicon glyphicon-remove"></span> NO
                                        </span>
                                    {% else %}
                                        <span class="label label-success">
                                            <span class="glyphicon glyphicon-ok"></span> YES
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('eb_admin_student_show', { 'id': studentUser.id }) }}" class="btn btn-info btn-xs">Show</a>
                                    <a href="{{ path('eb_admin_student_edit', { 'id': studentUser.id }) }}" class="btn btn-warning btn-xs">Edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="13">There are no rows to display.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="panel-footer">
                    <a href="{{ path('eb_admin_student_new') }}" class="btn btn-default">Add Student</a>
                </div>
            </div>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
