{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>School Staff User List</h2>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Title</th>
                            <th>Job Title</th>
                            <th>Academic Degree</th>
                            <th>School</th>
                            <th>Enabled</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for schoolStaffUser in pagination %}
                            <tr>
                                <td>{{ schoolStaffUser.id }}</td>
                                <td><a href="{{ path('eb_admin_ssu_show', { 'id': schoolStaffUser.id }) }}">{{ schoolStaffUser.email }}</a></td>
                                <td>{{ schoolStaffUser.firstName }}</td>
                                <td>{{ schoolStaffUser.lastName }}</td>
                                <td>{{ schoolStaffUser.titleAsString }}</td>
                                <td>{{ schoolStaffUser.jobTitle }}</td>
                                <td>{{ schoolStaffUser.academicDegree }}</td>
                                <td>
                                    {% if schoolStaffUser.school is not empty %}
                                        <a href="{{ path('eb_admin_school_show', {'id': schoolStaffUser.school.id}) }}">{{ schoolStaffUser.school.name }}</a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if schoolStaffUser.enabled == false %}
                                        <span class="label label-danger not-read">
                                            <span class="glyphicon glyphicon-remove"></span> NO
                                        </span>
                                    {% else %}
                                        <span class="label label-success">
                                            <span class="glyphicon glyphicon-ok"></span> YES
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('eb_admin_ssu_show', { 'id': schoolStaffUser.id }) }}" class="btn btn-info btn-xs">Show</a>
                                    <a href="{{ path('eb_admin_ssu_edit', { 'id': schoolStaffUser.id }) }}" class="btn btn-warning btn-xs">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="panel-footer">
                    <a href="{{ path('eb_admin_ssu_new') }}" class="btn btn-default">Add School Staff User</a>
                </div>
            </div>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
