{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <a href="{{ path('eb_admin_admission_index') }}" class="btn btn-default pull-right">Back to the list</a>
            <h2>Admission #{{ admission.id }}</h2>
            <table class="table">
                <thead></thead>
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ admission.id }}</td>
                    </tr>
                    <tr>
                        <th>School</th>
                        <td>{{ admission.school.name }}</td>
                    </tr>
                    <tr>
                        <th>Session Date</th>
                        <td>{% if admission.sessionDate %}{{ admission.sessionDate|date('F Y') }}{% else %}-{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Budget Financed No</th>
                        <td>{{ admission.budgetFinancedNo }}</td>
                    </tr>
                    <tr>
                        <th>Fee Payer No</th>
                        <td>{{ admission.feePayerNo }}</td>
                    </tr>
                    <tr>
                        <th>Budget / Fee Threshold</th>
                        <td>
                            {% if admission.budgetFeeThreshold %}
                                {{ admission.budgetFeeThreshold }}
                            {% else %}
                                <span class="badge">To  be completed</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Fee / Rejected No</th>
                        <td>
                            {% if admission.feeRejectedThreshold %}
                                {{ admission.feeRejectedThreshold }}
                            {% else %}
                                <span class="badge">To  be completed</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Created At</th>
                        <td>{% if admission.createdAt %}{{ admission.createdAt|date('d-m-Y') }}{% else %}-{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Closed At</th>
                        <td>{% if admission.closedAt %}{{ admission.closedAt|date('d-m-Y') }}{% else %}-{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td>
                            {% include 'EBCoreBundle:partials:admissionStatuses.html.twig' %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <a href="{{ path('eb_admin_admission_edit', { 'id': admission.id }) }}" class="btn btn-warning">Edit</a>
            <div class="pull-right">
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete" class="btn btn-danger">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
