{% block subject %}
    {{ schoolStaffUser.getFullname }} accepted you to attend admission for school {{ admission.school.name }}
{% endblock %}

{% block html %}
    Hello {{ student.getFullname }}!
    <br />
    <br />
    {{ schoolStaffUser.getFullname }} accepted you to attend admission for school {{ admission.school.name }}.
    You can see the admission here <a href="{{ url1 }}">{{ url1 }}</a>
    <br />
    Have a nice day.
{% endblock %}
