{% block subject %}
    {{ student.getFullname }} is attending one of your admissions on EduA
{% endblock %}

{% block html %}
    Hello {{ schoolStaffUser.getFullname }}!
    <br />
    <br />
    {{ student.getFullname }} is attending one of your admissions on EduA for {{ admission.school.name }}
    <br />
    You can view his/her profile here: <a href="{{ url1 }}">{{ url1 }}</a>, and mark it as verified, if everything looks ok.
{% endblock %}
