{% block subject %}
    {{ student.getFullname }} has registered on EduA
{% endblock %}

{% block html %}
    Hello {{ admin.getFullname }}!
    <br />
    <br />
    {{ student.getFullname }} has registered on EduA.
    <br />
    You can view his/her profile here: <a href="{{ url1 }}">{{ url1 }}</a>, and confirm it by checking the verified option, if everything looks ok.
{% endblock %}
