{% block subject %}
    {{ student.getFullname }} is attending one of your admissions on EduA
{% endblock %}

{% block html %}
    Hello {{ schoolStaffUser.getFullname }}!
    <br />
    <br />
    {{ student.getFullname }} is attending one of your admissions on EduA for {{ admission.school.name }}
    <br />
    You can view his/her profile here: <a href="{{ '#' }}">{{ student.getFullname }}</a>, and confirm it, if everything looks ok.
{% endblock %}
